* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #0e5249; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: url(../img/background1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

main {
  margin: 0; }

header {
  background-color: #ffffff;
  min-height: 6em;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 999; }
  header .cajaLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6em; }
    header .cajaLogo #logo {
      max-width: 60px;
      max-height: 50px;
      margin-top: 1px; }

.container-fluid {
  background-color: #1db9b4; }

.navbar-light .navbar-brand {
  color: #00665C;
  font-weight: 800;
  margin-top: 5px; }

.navbar-light .navbar-brand:hover {
  color: #00665C;
  font-weight: 800;
  margin-top: 5px; }

.bg-light {
  --bs-bg-opacity: 0; }

.dropdown-menu {
  background-color: #d1fff1;
  border: 0px; }

.tituloContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding-top: 1rem; }
  .tituloContainer #titulo {
    font-size: minmax(10px 30px);
    text-align: center; }

@media only screen and (min-width: 300px) and (max-width: 1099px) {
  .articulo {
    display: flex;
    width: 100%;
    min-height: 100%;
    margin: auto; }
    .articulo .articulo__contenedor {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 100%;
      min-height: 100%; }
      .articulo .articulo__contenedor img {
        object-fit: cover;
        min-width: 100%;
        min-height: 300px;
        margin-right: 5px; }
      .articulo .articulo__contenedor p {
        text-align: justify;
        max-width: 90%;
        margin: auto;
        padding: 1rem; } }

@media only screen and (min-width: 1100px) {
  .articulo {
    display: flex;
    height: 30rem;
    margin: auto; }
    .articulo .articulo__contenedor {
      display: flex;
      margin: auto;
      max-width: 70%;
      max-height: 80%; }
      .articulo .articulo__contenedor img {
        object-fit: cover;
        min-width: 300px;
        min-height: 300px;
        margin-right: 5px; }
      .articulo .articulo__contenedor p {
        text-align: justify;
        max-width: 700px;
        margin-left: 5px; } }

.footer_contenedor {
  background-color: #464b50;
  border-top: 20px solid #1db9b4;
  display: flex;
  height: 7em;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  display: flex;
  padding: 20px 0px;
  justify-content: space-evenly; }
  .footer_contenedor img {
    width: 70px;
    height: 70px;
    object-fit: cover; }

@media only screen and (min-width: 389px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%; } }
