header{
    background-color: #ffffff;
    min-height: 6em;
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;

    .cajaLogo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 6em;
        
        #logo{
            max-width: 60px;
            max-height: 50px;
            margin-top: 1px;
        }

    }
}

